/**** layout ****/
body {
    margin:0;
}

table {
    border-spacing:0px;
}

td, th {
    padding:.4em;
}

#main {
    float:left;
    width:100%;
    margin-right:-305px;
    padding:0px;
    overflow:hidden;
}

#content {
    padding:1em;
    margin-right:300px;
}

#sidebar {
    float:right;
    width:300px;
    overflow:hidden;
}

#nav {
    padding:1em;
}

/* navigation */
#nav ul {
    margin:0;
    padding:0;
    padding-left:1em;
}

#nav ul li {
    margin:0;
    padding:0;
}

.clearing {
    height:0;
    clear:both;
}

/**** colors ****/
body {
    background-color:#f5f5f5;
    color:black;
}

table, td, th {
    border:1px solid black;
}

th.header {
    background-image:url(../image/up-down.png);
    background-repeat:no-repeat;
    background-position:center right;
    cursor:pointer;
    padding-right:20px;
}

th.headerSortUp { 
    background-color:#96d7ff; 
    background-image:url(../image/down.png);
}

th.headerSortDown { 
    background-color:#96d7ff; 
    background-image:url(../image/up.png);
}

td.yes {
    background-color:#AAF5AA;
}

td.no {
    background-color:#F5AAAA;
}

#nav a {
    color:#00f;
}

#nav a:hover, #nav a:visited {
    color:#800080;
}

a {
    text-decoration:none;
}

a:hover {
    border-bottom:dashed 1px red;
}

#sidebar {
    background-color:#fff;
    border-left:2px dashed #000;
    border-bottom:2px dashed #000;
    color:#000;
}

h1 {
    text-align: center;
}

/**** fonts ****/
body {
    font-family: Droid Serif, Gentium, serif;
    font-size: 10pt;
}

h1 {
    font-variant:small-caps;
}

p {
    text-align:justify;
}

h1, h2, h3, h4, h5 {
    font-family: Helvetica, sans-serif;
}

